body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}


.tela_login{
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 400px;
    height: 120px;
    padding: 10px;
}
.informacao{
    display: inline-block;
    position: relative;
    margin-bottom:5px;
    width: 100%;
    text-align: left;
}
.informacao .nome{
    text-align: left;
    font-weight: bold;
}
.informacao .valor{
    display: inline;
    position: absolute;
    right: 0px;
}
.tela_login form input[type="submit"]{
    width: 60%;
}
.tela_login form input{
    text-align: center;
}
.tela_usuarios{
    position: absolute;
    left: 0;
    top: 120px;
    box-sizing: border-box;
    width: 400px;
    bottom: 0;
    padding: 10px;
    border: 1px solid black;
}

.tela_mensagem{
    position: absolute;
    left: 400px;
    top: 0px;
    box-sizing: border-box;
    right: 0px;
    height: 120px;
    padding: 10px;
    border: 1px solid black;
}

.tela_chat{
    position: absolute;
    left: 400px;
    top: 120px;
    box-sizing: border-box;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    border: 1px solid black;
}